*{
    margin: 0em;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: azure;
    text-decoration: none;

}

body{
    height: 100vh;
    max-width: 100vw;
}

header{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-weight: bolder;
    font-size: x-large;
}

#logoBox
{
    flex: 0,5;
}

#titolSuperior
{
    flex: 1;
}

#barraNavegacio
{
    flex: 2.5;
    font-size: large;

}

h1{
    font-size: x-large;
    text-align: lefts;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 125px;

    align-items: center;
    text-align: center;
    
}
a:hover{
    color: rgb(2, 124, 0)

}
@media (max-with:700px){
    header{
        flex-direction: column;
    }
}

#LogoPharmacemSinFondo{
    height: 100px;
    width: 170;
}
main{
    height: 60%;
    text-align: left;
    font-size: large;
    
}
#VideoPastillas{
    height: 100px;
    width: 50px;
    margin: 1em auto;
    text-align: center;

}
div a{
    color:blue;

}
div a:hover{
    color: rgb(2, 124, 0);
}
footer{
    height: 20%;
    display: flex;
    flex-direction: row;
}
.footerBox{
    flex: 1;
    padding: 0.5em;
    display: flex;
    flex-direction: column;

   
}
.footerImg{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#LogoPharmacemSinFondoPieDePagina{
    height: 80px;
    width: 150px;
}